:root {
    --main-color: black;
    --main-color-accent: black;
    --main-color-hover: green;
}

body {
    font: 14px Arial, sans-serif;
}

.darkMode {
    background-color: #1e1e1e;
    color: #e8e8e8;
}

.lightMode {
    background-color: #e8e8e8;
    color: #1e1e1e;
}

div {
    padding: 5px;
}

.task {
    border: 2px solid var(--main-color);
    position: relative;
    border-radius: 5px;
    line-height: 1;

    box-shadow: 2px 2px 0 0 var(--main-color);
    transition: box-shadow 0.2s ease-in-out;
}

.task * {
    margin: 0;
}

.task:hover {
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 var(--main-color);
}

.taskSection {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /*
    border: 1px solid var(--main-color);
    border-radius: 5px;
    */
}

.taskContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.hasNext::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background-color: var(--main-color-accent);
}

.buttonSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 10px;
}

button {
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;


    box-shadow: 1px 1px 0 0 var(--main-color);
    transition: box-shadow 0.2s ease-in-out;
}

button:hover {
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 var(--main-color);
}

.headerPiece {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: dimgray;
}

h1 {
    margin: 0;
}

.navPiece {
    display: flex;
    gap: 10px;
}

.taskHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subHeading {
    font-style: italic;
}

.completed {
    text-decoration: line-through;
    background-color: green;
}