:root {
    --main-color: gray;
    --main-color-accent: black;
    --main-color-hover: white;
    --dark-content: #1e1e1e;
    --bright-content: #e8e8e8;
}

.page {
    display: flex;

}

div {
    padding: 5px;
    border: 1px solid black;
}

/* organization classes */
/* header */
.container {
    width: 700px;
    justify-self: center;
}

.headerPiece {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navPiece {
    display: flex;
    gap: 10px;
}

/* form */

.form {
    display: grid;
    grid-template-columns: auto 200px;
    gap: 8px 10px;
    align-items: center;
    justify-content: left;
}

/* task section */
.taskContainer {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: thin;
    gap: 20px;
}

.tileContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 225px;
    align-items: center;
}

.subtaskContainer {
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.taskHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--main-color-accent);
    border-radius: 3px;
    padding: 5px;
}

.taskHeader * {
    margin: 0;
}

/* global */

.listHeader {
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

body {
    font: 14px Arial, sans-serif;
    background-color: var(--bright-content);
    color: var(--dark-content);
}

.darkMode {
    background-color: var(--dark-content);
    color: var(--bright-content);
}

.lightMode {
    background-color: var(--bright-content);
    color: var(--dark-content);
}

.mainSection {
    margin: 20px 10px;
}

.submitButton {
    margin-top: 10px;
}

/* task container */

.task {
    border: 2px solid black;
    position: relative;
    border-radius: 4px;
    line-height: 1;
    padding: 5px;

    transition: all 0.2s ease-in-out;
}

.taskBody {
    padding-top: 5px;
    padding-bottom: 5px;
}

.taskBody > p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.task * {
    margin: 0;
}

.horizontal-line {
    width: 5px;
    height: 100%px;
    border-right: 2px solid black;
    margin-top: 5px;
}

.completed {
    text-decoration: line-through;
    background-color: var(--main-color-accent);
    border: 2px solid var(--main-color-accent);
}

.task:hover {
    transition: all 0.2s ease-in-out;

    border: 2px solid var(--main-color-hover);
    background-color: var(--main-color-hover);
}


.hasNext::after {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background-color: var(--main-color-hover);
}

.buttonSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 5px;
}

.button {
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;

    box-shadow: 1px 1px var(--main-color);
    transition: all 0.2s ease-in-out;
}

.button:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 solid var(--main-color-hover);
}

.subtask {
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    height: fit-content;

    transition: all 0.2s ease-in-out;
}

.subtaskHeader {
    margin: 0;
}

.subtask:hover {
    transition: all 0.2s ease-in-out;
    background-color: green;
}


.subHeading {
    font-style: italic;
}


h1 {
    margin: 0;
}